/*-- scss:defaults --*/

// import fonts from fonts.google.com (Arvo, reg 400 & Nunito, reg 400 & extrabold 800)
//@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Nunito:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Nunito:wght@400;800&display=swap');

// colors
$green: #348553;
$light-green: #589244; 
$yellow: #E9A300;
$red: #A23601;
$white: #FFFFFF;
$gray: #ADADAD;
$black: #525452; 

// font styles
$font-family-sans-serif: 'Nunito', sans-serif; // automatically applied across document
$font-family-serif: 'Arvo', serif; // specify where serif fonts should be used in rules below

// find all Quarto Sass vars here: https://quarto.org/docs/output-formats/html-themes.html#sass-variables
$font-size-root: 1.2em;
$body-color: $black; // font color
$link-color: $red; // hyperlink color
$toc-color: $green; // toc text color
$toc-active-border: $yellow; // toc active item border color
$toc-inactive-border: $gray; // toc inactive item border color
$code-color: $light-green; // text color of inline
$code-bg: $white; // background color of inline code

/*-- scss:rules --*/

// level two styling
h2 { 
  border-bottom: 3px solid $yellow;
  font-family: $font-family-serif;
  color: $green;
}

// level three stying
h3 {
  color: $green;
}

// default blockquote styling 
/*blockquote {
  border-left: 4px solid $light-green;
}*/

// style document title (found via Inpsect)
.title {
  color: $green;
  font-family: $font-family-serif;
  font-size: 2.3rem;//40px;
}

// adjust size of documment subtitle (found via Inspect)
.lead {
  font-size: 1.5rem;
}

// center text
.center-text { 
  text-align: center;
}

.large-text {
  font-size: 1.4rem;
}

// yellow highlight
.highlight-text {
  background-color: rgba(233, 163, 0, 0.2); 
  padding-top: 5px; 
  padding-bottom: 5px; 
  padding-right: 5px; 
  padding-left: 8px; 
  border-radius: 25px;
}